<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <includeContext>false</includeContext>
      <includeMdc>true</includeMdc>
      <customFields>{"service":"wiremock"}</customFields>
    </encoder>
  </appender>

  <logger name="org.eclipse.jetty" level="${WIREMOCK_JETTY_LOG_LEVEL:-WARN}"/>
  <logger name="com.github.tomakehurst.wiremock" level="${WIREMOCK_LOG_LEVEL:-INFO}"/>
  <logger name="com.example.wiremock.observability" level="${WIREMOCK_OBSERVABILITY_LOG_LEVEL:-INFO}"/>

  <root level="${ROOT_LOG_LEVEL:-INFO}">
    <appender-ref ref="JSON"/>
  </root>
</configuration>
